/* EMPRESA CSS */
/* EMPRESA TARJETAS */
.tarjetas-allemp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: url(../imagenes/empresa.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.tarjetas-allemp h4 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Merriweather", serif;
}

.tarjeta-emp {
  float: left;
  width: 300px;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 0 10px 30px -10px;
  background-color: white;
  border: double;
  border-radius: 15px;
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta-emp:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.15);
}

.container-emp {
  max-width: 260px;
  height: 150px;
  overflow: hidden;
}

.img-emp {
  width: 100%;
  height: 100%;
}

/* FINAL EMPRESA TARJETAS */
/* EMPRESA RESPONSIVE */
@media screen and (max-width: 460px) {
  .titulo-pag {
    font-size: 1rem;
  }
  .menu-pag {
    font-size: 1.5rem;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  .tarjetas-allemp {
    width: 100%;
  }
  .tarjetaemp {
    max-width: 320px;
  }
  .img-tarjeta {
    max-width: 320px;
  }
}
/* FINAL EMPRESA RESPONSIVE */
/* FINAL EMPRESA CSS*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBALS CSS */
.header-encabezado {
  color: black;
  text-align: center;
  background-color: rgb(110, 149, 213);
}

.titulo-pag {
  font-family: "Kanit", sans-serif;
  font-size: 2.6rem;
  color: white;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;
}

.menu-pag {
  color: white;
  font-family: "Kanit", sans-serif;
  text-align: center;
  background-color: #8C1F28;
  text-transform: uppercase;
  padding: 0.3rem;
  font-size: 1.5rem;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;
}

.descripcion-pag {
  text-transform: uppercase;
  text-align: center;
  background-color: rgb(110, 149, 213);
}

.nav__list {
  list-style: none;
  background-color: #103778;
  overflow: hidden;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  max-width: 100%;
  font-family: "Kanit", sans-serif;
}

nav ul .nav_li a {
  color: azure;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;
}

.nav_link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 10px 10px;
}

.nav_li {
  float: left;
  text-align: center;
  transition: all 300ms;
}
.nav_li :hover {
  transform: scale(1.15);
}

.img {
  max-width: 100%;
}

body {
  background-color: rgb(110, 149, 213);
}

/* FINAL GLOBALS CSS */
/* INDEX CSS */
/* INDEX PORTADA */
.portada {
  max-width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}
.portada figure {
  position: relative;
  cursor: pointer;
  max-width: 100%;
}
.portada figure img {
  width: 100%;
  height: 100%;
  transition: all 300ms ease;
}

.portada figure .info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  color: white;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.portada figure:hover > .info {
  opacity: 1;
  visibility: visible;
}

.info h3 {
  color: white;
  font-size: 2rem;
  padding: 15%;
}

.info h1 {
  color: white;
}

.info p {
  color: white;
  padding: 15%;
}

/* FINAL INDEX PORTADA */
/* INDEX TARJETAS */
.tarjetas-all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: url(../imagenes/empresa_fondo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.tarjetas-all h4 {
  font-size: 1rem;
  font-family: "Merriweather", serif;
}

.tarjeta {
  display: grid;
  justify-items: center;
  float: left;
  width: 300px;
  height: fit-content;
  margin: 2rem;
  padding: 2rem;
  border: double;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  transition: all 300ms ease;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.15);
}

.img-informativa {
  max-width: 200px;
  height: 120px;
  overflow: hidden;
}

.img-tarjeta {
  width: 100%;
  height: 100%;
}

/* FINAL INDEX TARJETAS */
/* INDEX FORMULARIO */
.formulario-contacto {
  font-family: "Merriweather", serif;
  background-color: rgb(110, 149, 213);
  display: table-column;
  text-align: center;
}

.contacto {
  font-family: "Merriweather", serif;
  border: double;
  background-color: rgb(110, 149, 213);
}

/* FINAL INDEX FORMULARIO */
/* FOOTER */
.pie-de-pag {
  width: 100%;
  background-color: rgb(110, 149, 213);
}

.pie-de-pag .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-de-pag .grupo-1 .box .figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-de-pag .grupo-1 .box .figure .img {
  width: 200px;
}

.pie-de-pag .grupo-1 .box h2 {
  font-family: "Merriweather", serif;
  color: black;
  margin-bottom: 25px;
  font-size: 25px;
}

.pie-de-pag .grupo-1 .box p {
  color: white;
  margin-bottom: 10px;
  font-family: "Merriweather", serif;
  font-size: 12px;
}

.pie-de-pag .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #103778;
  margin-right: 10px;
  background-color: rgb(110, 149, 213);
  text-align: center;
  transition: all 300ms ease;
}

.pie-de-pag .grupo-1 .red-social a:hover {
  color: white;
}

.pie-de-pag .grupo-2 {
  background-color: #8C1F28;
  padding: 15px 10px;
  text-align: center;
  color: black;
}
.pie-de-pag .grupo-2 small {
  font-size: 15px;
  font-family: "Merriweather", serif;
}

/* FINAL FOOTER */
/* INDEX RESPONSIVE */
@media screen and (max-width: 800px) {
  .pie-de-pag .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
/* FINAL INDEX RESPONSIVE */
/* FINAL INDEX CSS */
/* LINEAS CSS */
/* LINEAS INFO*/
.info-lineas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background: url(../imagenes/playon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.img-lineas {
  float: left;
  width: 300px;
  margin: 2rem;
  padding: 2rem;
}
.img-lineas .img-218 {
  max-width: 260px;
  height: 150px;
  overflow: hidden;
  border-radius: 3%;
  border: solid;
}
.img-lineas .linea-218 {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  transition: all 300ms ease;
  cursor: pointer;
}
.img-lineas .p-info {
  color: white;
  font-family: "Merriweather", serif;
  text-transform: uppercase;
}

.linea-218:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.15);
}

.texto-lineas {
  display: flex;
  justify-content: center;
}
.texto-lineas li {
  font-size: 25px;
  font-family: "Merriweather", serif;
  padding: 3%;
}

/* FINAL LINEAS INFO*/
/* FINAL LINEAS CSS*/
/* RECORRIDOS CSS */
/* RECORRIDOS TABLA */
table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
}

/* FINAL RECORRIDOS TABLA */
/* FINAL RECORRIDOS CSS*/
/* UNIDADES CSS */
/* GALERIA */
body {
  background: rgb(110, 149, 213);
  margin: 0;
  font-family: "Kanit", sans-serif;
}
body h2 {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #000000;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 5%;
  box-sizing: border-box;
  justify-content: space-around;
}
.galeria img {
  width: 150px;
  height: 100px;
}
.galeria li {
  margin: 5px;
}

.gal-mov {
  display: none;
}

.gal-mov:target {
  display: block;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h3 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.img-unidades {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-unidades a {
  color: white;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}
.img-unidades img {
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #fff;
  box-sizing: border-box;
}

.img-unidades a:nth-child(2) {
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.salir {
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  border-radius: 50%;
  line-height: 25px;
}

/* FINAL GALERIA */
/* FINAL UNIDADES CSS */

/*# sourceMappingURL=style.css.map */
