* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* GLOBALS CSS */
.header-encabezado {
    color: black;
    text-align: center;
    background-color: rgb(110, 149, 213);
}

.titulo-pag {
    font-family: "Kanit", sans-serif;
    font-size: 2.6rem;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
}

.menu-pag {
    color: white;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background-color: #8C1F28;
    text-transform: uppercase;
    padding: 0.3rem;
    font-size: 1.5rem;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
}

.descripcion-pag {
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(110, 149, 213);
} 

.nav__list {
    list-style: none;
    background-color: #103778;
    overflow: hidden;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    max-width: 100%;
    font-family: 'Kanit', sans-serif;
}

nav ul .nav_li a {
    color: azure;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000000;
}

.nav_link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 10px 10px;
}

.nav_li {
    float: left;
    text-align: center;
    transition: all 300ms;

        :hover {
            transform: scale(1.15);
        }
}

.img {
    max-width: 100%;
}

body {
    background-color: rgb(110, 149, 213);
}
/* FINAL GLOBALS CSS */