/* LINEAS CSS */
/* LINEAS TABLAS */
.tabla-lineas {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.tabla {
    display: flex;
    justify-content: space-evenly;
    margin: 10% 10% 10% 10%;
    background-color: rgb(110, 149, 213);
    font-family: 'Merriweather', serif;
}
/* FINAL LINEAS TABLAS */
/* FINAL LINEAS CSS*/